import

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #242425;
  background-color: #f2f4f8;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  font-feature-settings: "tnum", "tnum";
}

/* remove top margins from headings
//
// By default, `<h1>`-`<h6>` all receive top and bottom margins. We nuke the top
// margin for easier control within type scales as it avoids margin collapsing.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: #000000;
  font-weight: 500;
}

/* Reset margins on paragraphs
//
// Similarly, the top margin on `<p>`s get reset. However, we also reset the
// bottom margin to use `em` units instead of `em`.
*/

p {
  margin-top: 0;
  margin-bottom: 1em;
}

.minWidth {
  min-width: 64px;
}
.footer {
  background-color: #ffffff;
  border-top: 1px solid #dee2e6;
}

.footer a {
  text-decoration: none;
  font-weight: 500;
  color: #262626;
  font-size: 14px;
}